.tf-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }

  &__content {
    position: relative;
    background: var(--color-gunmetal);
    border: 2px solid var(--color-crimson);
    border-radius: var(--radius-md);
    color: var(--color-white);
    padding: var(--space-lg);
    max-width: 500px;
    z-index: 1001;
    ul {
        list-style-type: none;
        padding-left: 0;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--space-sm);
  }

  &__close {
    background: none;
    border: none;
    color: var(--color-white);
    font-size: 1.2rem;
    cursor: pointer;
  }
}
