@use "../scss/variables" as *;

.tf-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  &__label {
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
    color: var(--color-accent-gray);
  }

  &__field {
    background-color: var(--color-bg-black);
    color: var(--color-accent-gray);
    border: 1px solid var(--color-accent-gray);
    border-radius: 0.3rem;
    padding: 0.5rem 0.8rem;

    &:focus {
      outline: none;
      border-color: var(--color-crimson);
    }
  }
}
